---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import HeroSectionWrappers from '../components/HeroSectionWrappers.astro';
import SocialIcons from '../components/SocialIcons.astro';
import BreakdownDo from '../components/BreakdownDo.astro';
import HeroArrow from '../components/HeroArrow.astro';
import SkillsContainers from '../components/SkillsContainers.astro';
import ContactUs from '../components/ContactUs.astro';
import { Image } from 'astro:assets';
import Tweet from '../../public/tweet.png';
---

<!doctype html>
<html lang="en">
<head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
</head>
<body>
    <Header />
    <main class="max-w-[1280px] m-auto">
        <HeroArrow/>
        <div class="min-h-screen flex flex-col justify-between items-start relative ">
				<SocialIcons/>
			<a href="https://x.com/itz_vermajii/status/1809331961481293835" target="_blank">
				<Image src={Tweet} width={300} height={300} alt="tweet" class="absolute top-0 right-0" />
			</a>
            <div class="hero-section absolute left-0 bottom-56">
                <p class="font-medium text-gray-500" id="intro-text" transition:animate="slide">
                    🤟 Yo, I'm Himanshu, your friendly neighborhood web dev wizard...
                </p>
                <h1 class="font-semibold " id="main-heading" transition:animate="slide">
                    Turning startup dreams into digital reality, one line of code at a time
                </h1>
                <HeroSectionWrappers/>
            </div>
        </div>	
        <BreakdownDo />
        <SkillsContainers />
        <ContactUs />
        <hr>
    </main>
    <Footer />
</body>
</html>
