---
import { Icon } from "astro-icon/components";
import WhatIDoContainer from "./WhatIDoContainer.astro";
---

<div class="py-32 flex flex-col items-center flex-wrap relative ">
    <p class="text-orange-600 font-semibold text-sm absolute left-0"><span class="text-4xl absolute -left-6 -bottom-[50%] translate-y-[20%]">*</span> What do I do?</p>
    <h2 class="text-center font-semibold">A Breakdown<br/>&shy; of what I do</h2>
    <p class="text-center text-gray-500">Your go-to solution for web and mobile apps, like many<br/>&shy; founders, startups, and agencies do.</p>
  <svg width="117" height="139" viewBox="0 0 117 139" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M43.8901 2.55872C43.1007 14.4012 34.4321 23.6462 34.4321 35.6968C34.4321 44.1139 40.3475 50.8853 42.2788 58.8864C43.9515 65.8161 44.7847 73.2653 44.5207 80.3947C44.1927 89.251 33.5001 94.2082 26.2352 95.7377C23.2766 96.3605 16.5989 97.6658 13.9398 95.5976C6.5017 89.8124 0.758407 79.8451 2.87039 70.3412C3.82064 66.065 8.09841 60.2282 10.4368 56.5745C13.2146 52.2341 16.8277 49.5302 21.6113 47.3617C33.2408 42.0896 46.0055 38.2953 58.7427 37.3782C70.1338 36.5581 80.1011 42.6201 85.5054 52.511C91.6694 63.7923 92.4413 75.7267 92.4413 88.2764C92.4413 95.4017 92.1918 101.79 89.6039 108.488C87.0405 115.123 85.2399 123.334 81.4069 129.296C79.3035 132.568 79.3385 133.167 78.8498 128.07C78.4693 124.103 77.939 120.117 77.939 116.125C77.939 115.509 77.8355 114.044 77.1684 113.673C76.988 113.573 77.5558 125.486 77.7989 126.914C78.2239 129.411 77.967 132.365 80.1459 134.06C82.6312 135.993 82.7853 136.901 86.0659 135.146C96.3029 129.67 105.261 122.361 114.51 115.424" stroke="white" stroke-width="4" stroke-linecap="round" class="svg-elem-1"></path>



    <h1 class="font-semibold text-right max-w-[440px] w-full">Art Direction<br>&shy;<span class="inline-flex items-center gap-4 text-right w-full "><Icon name="Arrow-1" size="100" class="max-h-8" />Design</span><br>&shy;<span class="inline-flex items-center text-left w-full gap-2">Interaction<Icon name="star" size="20" class="rotate-12" /></span> <span class="text-gray-600"><br>&shy;Creative Dev</span>
    </h1>
    <WhatIDoContainer />
</div>

<style>
    svg{
        filter: invert(1);
    }


@-webkit-keyframes animate-svg-stroke-1{0%{stroke-dashoffset:415.8367004394531px;stroke-dasharray:415.8367004394531px}100%{stroke-dashoffset:0;stroke-dasharray:415.8367004394531px}}@keyframes animate-svg-stroke-1{0%{stroke-dashoffset:415.8367004394531px;stroke-dasharray:415.8367004394531px}100%{stroke-dashoffset:0;stroke-dasharray:415.8367004394531px}}.svg-elem-1{-webkit-animation:animate-svg-stroke-1 1s cubic-bezier(0.47,0,0.745,0.715) 0s both;animation:animate-svg-stroke-1 1s cubic-bezier(0.47,0,0.745,0.715) 0s both}
</style>

</style>