---
import SocialIcons from "./SocialIcons.astro";

const today = new Date();
---

<footer >
	<div class="inline-flex justify-between w-full max-w-[1280px] mx-auto">
		<p>
			&copy; {today.getFullYear()} Himanshu. All rights reserved. 
		</p>
		<p>
			English / हिंदी
		</p>
	</div>
	<SocialIcons />
</footer>
<style>
	footer {
		padding: 2em 1em 2em 1em;
		color: rgb(var(--slate));
		text-align: center;
		flex-direction: column;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	
</style>
