---
import SocialIcons from "./SocialIcons.astro";

const today = new Date();
---

<footer class="relative overflow-hidden min-h-[340px] h-full">
	<div class="inline-flex justify-between w-full max-w-[1280px] mx-auto">
		<p>
			&copy; {today.getFullYear()} Himanshu. All rights reserved. 
		</p>
		<p>
			English / हिंदी
		</p>
	</div>
	<SocialIcons />
	<h1 class="text-[10em] font-black absolute  -bottom-28 text-gray-400">TechisHeaven</h1>
</footer>
<style>
	footer {
		padding: 2em 1em 2em 1em;
		color: rgb(var(--slate));
		text-align: center;
		flex-direction: column;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	
</style>
