---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
import ThemeIcon from "./ThemeIcon.astro";



---

<header>
	<nav>
		<h2><a href="/" class="inline-flex items-center gap-2"><ThemeIcon />{SITE_TITLE}</a></h2>
		<div class="internal-links inline-flex gap-8">
			<div class="inline-flex gap-8 items-center">
			<HeaderLink  href="/">Home</HeaderLink>
			<HeaderLink href="/blog">Blog</HeaderLink>
			<HeaderLink href="/about">About</HeaderLink>
			</div>
				<a class="hello-btn" href="" target="_blank">
					<span class="sr-only">Connect with TechisHeaven</span>
					Say "Hello!"<span class="emoji">👋</span>
				</a>
			</div>
	</nav>
</header>
<style>
	header {
		margin: 0;
		padding:  .4em;
		border-radius: 2px;
		position: absolute;
		width: 100%;
		background: transparent;
		position: sticky;
		top: 0;
		max-width: 1280px;
		margin: 0 auto;
		z-index: 100;
	}
	nav {
		background: white;
		border: 1px solid rgb(128, 128, 128, .4);
		width: 100%;
		padding: .2em ;
		display: flex;
		align-items: center;
		border-radius: 32px;
		justify-content: space-between;
		box-shadow: 0 2px 8px rgba(var(--black), 5%);
	}

	nav .hello-btn{
		background-color: rgba(var(--black));
		color: rgba(var(--white));
		padding:.2em 1em;
		border-radius: 24px;
		box-shadow: 0px 2px 2px 1px rgba(var(--black), 40%);
		transition: .2s all ease-in-out;
		font-size: 1rem;
		position: relative;
	}

		nav .hello-btn .emoji {
		position: absolute;
		top: -20px;
		left: 80%;
		transform: translateX(-50%);
		opacity: 0;
		transition: 0.5s ease-out;
	}


		nav .hello-btn:hover .emoji {
		animation: dropEmoji 1s ease-out ;
	}
@keyframes dropEmoji {
		0% {
			top: -20px;
			opacity: 0;
		}
		50% {
			opacity: 1;
		}
		100% {
			top: 100%;
			opacity: 0;
		}
	}

	nav .hello-btn:hover {
		color: rgba(var(--white));
		transform: translateY(-2px);
		box-shadow: 0px 4px 4px 1px rgba(var(--black), 40%);
	}
	nav .hello-btn:active {
		color: rgba(var(--white));
		transform: translateY(0px);
		box-shadow: 0px 0px 2px 1px rgba(var(--black), 40%);
	}


	nav .hello-btn:hover {
		animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both infinite;
		transform: translate3d(0, 0, 0);
		backface-visibility: hidden;
		perspective: 1000px;
	}

	@keyframes shake {
		10%, 90% {
			transform: translate3d(-1px, -2px,  -4px);
		}
		
		20%, 80% {
			transform: translate3d(2px,  -4px,  -2px);
		}

		30%, 50%, 70% {
			transform: translate3d(-4px,  2px,  -4px);
		}

		40%, 60% {
			transform: translate3d(4px,  -4px,  -2px);
		}
	}

	h2 {
		margin: 0;
		font-size: 1em;
	}

	h2 a,
	h2 a.active {
		text-decoration: none;
	}
	
	nav a {
		padding: 0.4em;
		color: var(--black);
		border-bottom: 4px solid transparent;
		text-decoration: none;
	}
	nav a.active {
		text-decoration: none;
		border-bottom-color: var(--accent);
	}
	.social-links,
	.social-links a {
		display: flex;
	}
	@media (max-width: 720px) {
		.social-links {
			display: none;
		}
	}
</style>
