---
import Projects from "./Projects.astro";
---

<div class="py-32 flex flex-col items-center flex-wrap relative ">
    <p class="text-orange-600 font-semibold text-sm absolute left-6 top-10"><span class="text-4xl absolute -left-6 -bottom-[50%] translate-y-[20%]">*</span> What do I do?</p>
    <h2 class="text-center font-semibold">Selected<br/>&shy; work</h2>
    <p class="text-center text-gray-500">Whether it's a vibrant website or minimal mobile app you seek.<br/>&shy; I deliver exceptional quality for all.</p>
    <Projects />
</div>