

---


---

<div class="p-20 mb-20 w-full relative flex flex-col gap-16">
    <p class="text-xs absolute left-40 top-6 cursive rotate-6">When i'm not out<br>&shy; with my bae or at Gym...</p>
    <h3 class="text-center">You'll catch me doing<br>&shy; a combo of these things:</h3>

    <div class="containers inline-flex w-full">
        <div class="container things -rotate-6 z-10 translate-x-10">
            <div class="container-content">
                <h6 class="skill-heading text-sm">things I create</h6>
                <ul class="skill-list">
                    <li>Website Design</li>
                    <li>App Development</li>
                    <li>UI/UX Design</li>
                    <li>Graphic Design</li>
                    <li>Digital Marketing</li>
                </ul>
        </div>
        </div>
        <div class="container product z-10 rotate-12 translate-y-10 ">
            <div class="container-content">
                <h6   class="skill-heading text-sm">for product in</h6>
                <ul class="skill-list">
                    <li>React JS</li>
                    <li>Next JS</li>
                    <li>Node JS</li>
                    <li>React Native</li>
                    <li>Typescript</li>
                </ul>
        </div>
        </div>
        <div class="container tools z-20 -translate-x-10 rotate-3">   
            <div class="container-content">
                <h6 class="skill-heading text-sm">using tools like</h6>
                <ul class="skill-list">
                    <li>Figma</li>
                    <li>Framer</li>
                    <li>Webflow</li>
                    <li>Wordpress</li>
                    <li class="text-gray-400">and more</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<style>

@import url('https://fonts.googleapis.com/css2?family=Allura&display=swap');


    .cursive{
        color: rgba(var(--slate));
        font-size: .8em;
        font-family: 'Lucida Handwriting', cursive, sans-serif;
    }
    .container {
        width: 100%;
        overflow: hidden;
        max-width: 340px;
        transition: .4s all ease;
        box-shadow: -.2em .2em 10px rgba(0, 0, 0, 0.1);
        border-radius: 1.2em;
        border: 1px solid rgb(128, 128, 128, .2);
        background-color: rgba(var(--white));
    }

    .container:hover{
    transform: translate(0px, 0px);
    }
    .container .container-content{
        box-shadow: inset .2em 0em 2px rgba(0, 0, 0, 0.1);
    }
    .container.things .skill-heading{
        overflow: hidden;
        border-radius: 1.4em 1.4em 0 0;
        box-shadow: inset .2em 0em 2px rgba(var(--minty-lime-dark));
        background-color: rgba(var(--minty-lime));
        color: rgba(var(--minty-lime-dark));
    }
    .container.product .skill-heading{
        overflow: hidden;
        border-radius: 1.4em 1.4em 0 0;
        box-shadow: inset .2em 0em 2px rgba(var(--pink-dark));
       background-color: rgba(var(--pink));
        color: rgba(var(--pink-dark));
    }
    .container.tools .skill-heading{
        overflow: hidden;
        border-radius: 1.4em 1.4em 0 0;
        box-shadow: inset .2em 0em 2px rgba(var(--blue-dark));
       background-color: rgba(var(--blue));
        color: rgba(var(--blue-dark));
    }

    .skill-heading {
        background-color: rgba(var(--minty-lime));
        color: rgba(var(--minty-lime-dark));
        text-align: center;
        padding: 0.5rem;
        margin-bottom: 1rem;
        border-radius: 4px;
    }

    .skill-list {
        list-style-type: none;
    }

    .skill-list li {
        padding: 0.5rem 1em;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        font-weight: 600;
    }

    .skill-list li:last-child {
        border-bottom: none;
    }
</style>