---
import { Icon } from "astro-icon/components";
import ToolTip from "./ToolTip.astro";
---

<div class="social-icons inline-flex gap-4">
    <a href="github" >
        <ToolTip text="github">
            <Icon name="github" size="32" />
        </ToolTip>
    </a>
    <a href="twitter">
        <ToolTip text="twitter">
            <Icon name="twitter" size="32" />
        </ToolTip>
    </a>
    <a href="linkedIn">
        <ToolTip text="linkedIn">
            <Icon name="linkedIn" size="32" />
        </ToolTip>
    </a>
</div>